.group-item {
  background: #caf0f8;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 8px;

  strong {
    font-size: 1.1rem;
  }

  .role {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #0077b6;
  }

  p {
    margin: 0.2rem 0 0 0;
    color: #555;
  }
}