.notification-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}


.notification-item.unread {
  font-weight: bold;
  background-color: #1a1b1f;
}

.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.clear-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.clear-btn:hover {
  background-color: #d32f2f;
}
