<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>📚 Campus Study Buddy - Dashboard</h1>
    <h2>Welcome, {{ displayName }}</h2>
        <button > Notifications</button>
            <button > Track progress</button>
    <button (click)="goToStudyGroups()">  Group sessions</button>
    <button (click)="goToProfile()"> User Profile</button>
  </header>

  <section>
    <button (click)="handleSignOut()">  SignOut</button>
    </section>

      <section>
  
    </section>
</div>
